<h1>List of Users</h1>

<form action="/add_user">
  <label for="browser_username">Username</label>
  <input id = "browser_username" type="text" name="input_username" placeholder="new user name">
  <button>Add user</button>
</form>
<hr>

<table border = "1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <th>
      
    </th>
  </tr>
  <% @list_of_users.each do |user|%>
    <tr>

      <td>
        <%= user.id%>
      </td>
      
      <td>
        <%= user.username%>
      </td>

      <td>
        <a href="/users/<%=user.username%>">Show Details</a>
      </td>   

    </tr>
  <% end %>
</table>
